<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Menu</title>
    <link rel="stylesheet" href="/css/qrcode.css"> 
</head>
<body>
    <div class="menu-card">
        <h1 class="menu">Menu</h1>
        <div class="qr-box">
            <img src="<%= qrImage %>" alt="QR Code">
        </div>
        <p class="link-box">
            <a href="<%= qrUrl %>" target="_blank">Link</a>
        </p>
    </div>
</body>
</html>
